<tr>
  <td class='nested<%= page.ancestry_depth %>' data-label="Page Title">
    <%= page.title %>
  </td>
  <td data-label="Modified Date">
    <%= page.updated_at.strftime('%m/%d/%y')   %>
  </td>
  <td data-label="Position">
    <div class="position"><%= page.position %></div>
    <div class="controls">
      <% if page.position != 1 %>
        <%= link_to "", {:controller => "admin/pages", :action => "move", :method => "move_higher", :page_id => page.id }, :class => 'control up'%>
      <% end %>
      <% if page.position != page.siblings.count %>
        <%= link_to "", {:controller => "admin/pages", :action => "move", :method => "move_lower", :page_id => page.id }, :class => 'control down'%>
      <% end %>
    </div>
  </td>
  <td>
    <%= link_to 'Child', new_admin_page_path(:parent_id => page), :class => 'button is-warning is-add large-button' %>
    <%= link_to 'View', page_path(page), :class => 'button is-show is-primary large-button' %>
    <%= link_to 'Edit', edit_admin_page_path(page), :class => 'button is-edit is-gray large-button'  %>
    <%= link_to 'Delete', admin_page_path(page), method: :delete, data: { confirm: 'If any children pages exist, they will also be removed. Are you sure you want to delete this page? ' }, :class => 'button is-delete is-red large-button'  %>
  </td>


</tr>
