<% if notice %><p id="notice" class="notification is-warning"><%= notice %></p><% end %>

<h1 class="title">Admin Supporting Units</h1>

<table class="table is-striped">
  <thead>
    <tr>
      <th>Unit</th>
      <th>Title</th>
      <th>Url</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_supporting_units.each do |admin_supporting_unit| %>
      <tr>
        <td data-label="Unit"><%= admin_supporting_unit.unit %></td>
        <td data-label="Title"><%= admin_supporting_unit.title %></td>
        <td data-label="Url"><a href="<%= admin_supporting_unit.url %>"><%= admin_supporting_unit.url %></td>
        <td><%= link_to 'Edit', edit_admin_supporting_unit_path(admin_supporting_unit), :class => 'button is-gray is-edit large-button'  %>
          <%= link_to 'Delete', admin_supporting_unit, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button is-red is-delete large-button' %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan=4>
        <%= link_to 'New Unit', new_admin_supporting_unit_path, :class => 'button is-warning is-add large-button' %>
      </td>
    </tr>
  </tbody>
</table>

<br>
