<div class="admin card">
  <header class="card-header">
    <p class="card-header-title">
      Broken Links
    </p>
    <p class="helper">
      <% if Admin::BrokenLink.count > 0 %>
        <%= Admin::BrokenLink.last.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("Updated on %m/%d/%Y at %I:%M%p") %>
      <% end %>
    </p>

  </header>
  <div class="card-content">
    <div class="content">
      <div id="loading">
        <span class="fa fa-spinner fa-pulse fa-5x fa-fw"></span>
        <span class="sr-only">Loading...</span>
      </div>
          <% if Admin::BrokenLink.where("page_title != ''").count == 0 %>
            <div class="notification is-success">No Broken Links detected</div>
          <% else %>
            <table class="table striping" id="linkReport">
            <thead>
              <tr>
                <th width="5%"></th>
                <th width="10%">Page Title</th>
                <th width="20%">Link Text</th>
                <th width="30%">Bad URL</th>
                <th width="30%">Error Code</th>
              </tr>
            </thead>
            <tbody>
            <% Admin::BrokenLink.where("page_title != ''").each do |link| %>
              <tr>
                <td>
                  <%= link_to '', edit_admin_page_path(link.page_id), :class => 'button is-edit is-gray', :target => "_blank" %>
                </td>
                <td data-label="Page Title">
                   <%= link.page_title %>
                </td>
                <td data-label="Link Text">
                  <%= link.link_text %>
                </td>
                <td data-label="Bad URL">
                  <%= link.broken_url %>
                </td>
                <td data-label="Error Code">
                  <%= sanitize HTML_Truncator.truncate(link.link_error, 50, :length_in_chars => true).html_safe %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <% end %>

    </div>
  </div>
  <footer class="card-footer">
    <%= link_to 'Rerun Report', runReport_admin_broken_link_path, :id => 'runBrokenLinkReport', :class => "card-footer-item" %>
  </footer>
</div>
