<p id="notice"><%= notice %></p>

<h1 class="title">Labels</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <!-- <td><%= link_to 'Show', label %></td> -->
        <td><%= link_to 'Edit', edit_label_path(label), :class => 'button is-gray is-edit' %>
          <%= link_to 'Remove Label', label, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button is-red is-delete'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Label', new_label_path, :class => 'button is-warning is-add' %>
