  <aside class="menu sub-menu column is-3 is-narrow-mobile is-hidden-mobile">
    <% if params[:user] and params[:view] and current_user %>
      <ul class="menu-list">
        <!-- Get all Pages -->
        <% Page.roots.each do |p| %>
          <!-- Set variable to determine if parent page should be shown -->
          <% parentPagePresent = false %>
          <!-- Check if Children has label? -->
          <% if p.children.present? %>
            <% p.children.each do |child| %>
              <% if ! LabelsPage.where(:page_id => child.id).empty? %>
                <!-- If the page id exists in the labels_page table, show parent page -->
                <% parentPagePresent = true %>
              <% end %>
            <% end %>
          <% end %>
          <% if parentPagePresent %>
          <li class="parent <% if current_page?(p) %> is-active is-active-parent<% end %>">
            <%= link_to p.title, page_path(p, :user => params[:user], :view => params[:view]) %>
             <%= render :partial => 'sideMenuSub', locals: {p: p}  %>
          </li>
        <% end %>
      </ul>
      <% end %>
    <% else %>
        <%= link_to 'Table of Contents', root_path, class: "#{cp(root_path)} table-of-contents" %>
        <% Page.roots.each do |p| %>
          <ul class="menu-list">
            <li class="parent <% if current_page?(p) %> is-active is-active-parent<% end %>">
              <%= link_to h(p.title), p %>
              <% if p.children.present? %>
                <%= render 'sideMenuSub', p: p %>
              <% end %>
            </li>
          </ul>
        <% end %>
        <!-- <p class="menu-label">
          General
        </p> -->

    <% end %>
  </aside>
