<%= render partial: "sideMenu" %>

<div class="column table-of-contents">
  <% if params[:user] and params[:view] and current_user %>
    <h1 class="title">
      <% Survey.where(:id => params[:view]).each do |survey| %>
        <%= survey.name %>
      <% end %>
    </h1>
    <% allContentPages = Set.new [] %>
    <% allAncestors = [] %>
    <!-- All Answers for this Survey based on view in query string -->
    <% AnswersSurvey.where(:survey_id => params[:view]).each do |answer| %>
      <% AnswersLabel.where(:answer_id => answer.answer_id).each do |label| %>
        <% @thisLabel = Label.find(label.label_id) %>
        <% LabelsPage.where(:label_id => label.label_id).each do |page| %>
          <% allContentPages.add(page.page_id) %>
          <% thisPage = Page.find(page.page_id) %>
          <% thisPage.ancestor_ids.each do |ancestor| %>
            <% allAncestors.push(ancestor) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <ol class="parent">
    <!-- Get all Pages -->
    <% Page.roots.each do |p| %>
      <!-- Check if page id is included in all ancestors or all content pages array -->
      <% if allContentPages.include? p.id or allAncestors.include? p.id %>
        <li>
          <%= link_to p.title, page_path(p, :user => params[:user], :view => params[:view]) %>
          <%= render :partial => 'sideMenuViewSpecific', locals: {p: p, allContentPages: allContentPages, allAncestors: allAncestors, listType: "ol", thisClass: "child"}  %>
        </li>
      <% end %>
    <% end %>
    </ol>
  <% else %>
    <h1 class="title">Investigator Handbook - Table of Contents</h1>
    <ol class="parent">
    <% Page.where("ancestry_depth < 1").find_each do |page, index| %>
      <li>
        <%= link_to page.title, page %>
        <% if page.has_children? %>
           <ol class="child">
            <% page.children.each do |child, index| %>
              <li>
                <%= link_to child.title, child %>
              </li>
            <% end %>
          </ol>
        <% end %>
      </li>
    <% end %>
    </ol>
  <% end %>



</div>
