<%= render partial: "sideMenu" %>

<div class="column table-of-contents">
  <% if params[:user] and params[:view] %>
    <% if not current_user.id.to_s == params[:user] %>
      <div class="notification is-danger">You do not have authorization for this customized view. To create your own customized view, <%= link_to 'click here', user_surveys_path(current_user.id) %></div>
      <%= render :partial => 'unfilteredView' %>
    <% else %>
      <%= render :partial => 'filteredView' %>
    <% end %>
  <% else %>
    <%= render :partial => 'unfilteredView' %>  
  <% end %>

</div>
