<p id="notice"><%= notice %></p>
<%= render partial: "sideMenu" %>
  <section class="column page-body">

    <% if params[:user] and params[:view] %>
      <% if not current_user.id.to_s == params[:user] %>
        <div class="notification is-danger">You do not have authorization for this customized view. To create your own customized view, <%= link_to 'click here', user_surveys_path(current_user.id) %></div>
      <% end %>
    <% end %>

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <% @page.ancestors.each do |page| %>
          <li>
            <% if params[:user] and params[:view] and not current_user.id.to_s == params[:user] %>
              <%= link_to page.title, page_path(page, :user => params[:user], :view => params[:view]) %>
            <% else %>
              <%= link_to page.title, page_path(page) %>
            <% end %>
          </li>
        <% end %>
        <li class="is-active"><%= link_to @page.title, @page, 'aria-current'=>'page' %></li>
      </ul>
      <a class="button print" onclick="window.print();return false;" ><span class="fa fa-print"></span>Print Page</a>
    </nav>

    <h1 class="title">
      <%= @page.header %>
    </h1>
    <div class="page-body">
      <%= raw @page.body %>

    <!--  IF PAGE IS ROOT, BUILD ONLY DIRECT DESCENDANTS -->
    <% if @page.is_root? %>
      <ol type="a">
        <% if params[:user] and params[:view] and current_user %>
          <% if current_user.id.to_s == params[:user] %>
            <% @page.descendants(:to_depth => 1).each do |child| %>
              <% if @allContentPages.include? child.id or @allAncestors.include? child.id %>
                <li>
                  <%= link_to child.title, page_path(child, :user => params[:user], :view => params[:view]) %>
                </li>
              <% end %>
            <% end %>
          <% else %>
            <% @page.descendants(:to_depth => 1).each do |child| %>
              <li><%= link_to child.title, child %></li>
            <% end %>
          <% end %>
        <% end %>
      </ol>
    <!--  ELSE DISPLAY ALL DIRECT DESCENDANTS -->
    <% else %>
      <!-- BUILD ANCHOR MENU -->
      <% if params[:user] and params[:view] and current_user and @page.has_children? %>
        <ol>
          <% @page.descendants.each do |child| %>
            <% if @allContentPages.include? child.id or @allAncestors.include? child.id %>
              <li>
                <%= link_to child.title, "#"+child.title.parameterize %>
              </li>
            <% end %>
          <% end %>
        </ol>
      <% elsif @page.has_children? %>
        <ol>
          <% @page.descendants.each do |child| %>
            <li>
              <%= link_to child.title, "#"+child.title.parameterize %>
            </li>
          <% end %>
        </ol>
      <% end %>

      <!-- TRAVERSE DESCENDANTS AND CREATE PAGE -->
      <% if params[:user] and params[:view] and current_user and @page.has_children? %>
          <% @page.descendants.each_with_index do |child, index| %>
            <% if @allContentPages.include? child.id or @allAncestors.include? child.id %>
              <article>
                <a id="<%= child.title.parameterize %>">
                  <h2 class="subtitle"><%= index + 1%>. <%= child.header %></h2>
                </a>
                <%= raw child.body %>
              </article>
            <% end %>
          <% end %>
      <% elsif @page.has_children? %>
        <% @page.descendants.each_with_index do |child, index| %>
          <article>
            <a id="<%= child.title.parameterize %>">
              <h2 class="subtitle"><%= index + 1%>. <%= child.header %></h2>
            </a>
            <%= raw child.body %>
          </article>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </section>
