<%= form_with(model: [@user, survey], local: true, :html => {:target=>'_self'}) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation" class="notification is-danger">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>

  <%= form.hidden_field :user_id, value: @user.id %>
  <%= form.hidden_field :survey_template_id, value: @survey_template.id %>

  <div class="field">
    <%= form.label 'Name of View' %>
    <%= form.text_field :name, id: :survey_name %>
  </div>

  <div class="field">
    <div class="checkbox">
      <%= form.label :is_default, "Default View" %>
      <%= form.check_box :is_default, id: :survey_is_default %>
    </div>
  </div>

  <div class="field">
    <%= form.label 'Description of View' %>
    <%= form.text_area :description, id: :survey_description, :class => 'textarea' %>
  </div>

  <ol class="questions">
    <% @survey_template.questions.each do |question| %>
    <li>
      <%= question.content %>
      <ol class="answers">
        <% if QuestionType.find(question.question_type_id).name == 'checkbox' %>
          <div class="field">
            <%= form.collection_check_boxes :answer_ids, question.answers, :id, :content do |b| %>
              <div class="checkbox">
                <%= b.check_box %>
                <%= b.label %>
              </div>
              <br/>
            <% end %>
          </div>
        <% else %>
          <div class="field">
            <div class = "radio" >
              <%= form.collection_check_boxes :answer_ids, question.answers, :id, :content do |b| %>
                <div class="checkbox">
                  <%= b.check_box %>
                  <%= b.label %>
                </div>
                <br/>
              <% end %>
            </div>
            </div>
        <% end %>
      </ol>
    </li>
    <% end %>
  </ol>

  <div class="actions">
    <a class="button is-primary is-save">
      <%= form.submit 'Save View', :class => 'button is-primary large-button' %>
    </a>
  </div>
<% end %>
