<div class="column">
  <% if notice %>
  <p id="notice"  class="notification"><%= notice %></p>
  <% end %>
  <h1 class="title">Views for <%= @user.name %></h1>
  <% if !@surveys.empty? %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th width="10%">Default</th>
          <th width="40%">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @surveys.each do |survey| %>
          <tr>
            <td data-label="Name"><%= survey.name %></td>
            <td data-label="Description"><%= survey.description %></td>
            <td data-label="Default"><% if survey.is_default %><span class="fa fa-check"></span><% else %> <span class="fa fa-times"></span><% end %></td>
            <td class="stacked-button">
              <% if survey.is_default %>
                <%= link_to 'Set As Default', user_survey_toggle_default_path(:user_id => current_user.id, :survey_id => survey.id), :class => 'button is-default large-button', :disabled => true %>
              <% else %>
                <%= link_to 'Set As Default', user_survey_toggle_default_path(:user_id => current_user.id, :survey_id => survey.id), :class => 'button is-default large-button' %>
              <% end %>
              <%= link_to 'View', root_path(:user => current_user.id, :view => survey.id), :class => 'button show is-primary is-show large-button', target: '_self' %>
              <%= link_to 'Edit', edit_user_survey_path( @user, survey ) , :class => 'button edit is-gray is-edit large-button', target: '_self' %>
              <%= link_to 'Delete', [ @user, survey], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button is-red is-delete large-button', target: '_self' %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      No surveys have been created yet.
    </p>
  <% end %>

  <br>

  <%= link_to 'Create New View', new_user_survey_path(@user), :class => 'button is-warning is-add large-button'  %>
</div>
