<p id="notice"><%= notice %></p>


<div class="column">
  <h1 class="title">Views for <%= @user.name %></h1>
  <% if !@surveys.empty? %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Default</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @surveys.each do |survey| %>
          <tr>
            <td><%= survey.name %></td>
            <td><%= survey.description %></td>
            <td><% if survey.is_default %><span class="fa fa-check"></span><% end %></td>
            <td><%= link_to 'View', root_path(:user => current_user.id, :view => survey.id), :class => 'button show is-primary is-show large-button', target: '_self' %>
              <%= link_to 'Edit', edit_user_survey_path( @user, survey ) , :class => 'button edit is-gray is-edit large-button', target: '_self' %>
              <%= link_to 'Delete', [ @user, survey], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button is-red is-delete large-button', target: '_self' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      No surveys have been created yet.
    </p>
  <% end %>

  <br>

  <%= link_to 'Create New View', new_user_survey_path(@user), :class => 'button is-warning is-add large-button'  %>
</div>
