<div class="column">
<p id="notice"><%= notice %></p>

<p>
  <strong>Current View:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<ol class="questions">
  <% @survey_template.questions.each do |question| %>
  <li>
    <%= question.content %>
    <ol class="answers">
      <% if QuestionType.find(question.question_type_id).name == 'checkbox' %>
          <%= collection_check_boxes :survey, :answer_ids, question.answers, :id, :content, { disabled: -> (content) {true}} do |b| %>
            <div class="checkbox">
              <%= b.check_box %>
              <%= b.label %>
            </div>
            <br/>
          <% end %>
      <% else %>
          <%= collection_check_boxes :survey, :answer_ids, question.answers, :id, :content, { disabled: -> (content) {true}} do |b| %>
            <div class="checkbox">
              <%= b.check_box %>
              <%= b.label %>
            </div>
            <br/>
        <% end %>
      <% end %>
      <% AnswersSurvey.where("survey_id = ?", @survey.id).each do |answer| %>
        <% AnswersLabel.where(:answer_id => answer.answer_id).each do |label| %>
          <% LabelsPage.where(:label_id => label.label_id).each do |page| %>
          <%= link_to 'Page', page_path(page.page_id, :user => @user, :view => @survey.id) %>
            <%= Page.where(:id => page.page_id) %>
            <%= page.page_id %>
          <% end %>
        <% end %>
      <% end %>
      <!-- <% Answer.where("question_id = ?", question.id).each do |answer| %>
       <%= answer.id %>
       <% AnswersLabel.where(:answer_id => answer.id).each do |label| %>
         <% Label.where(:id => label.label_id).each do |l| %>
           <%= l.name %>
         <% end %>
          <%= label.label_id %>
       <% end %>
      <% end %> -->
    </ol>
  </li>
  <% end %>
</ol>

</div>
