<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @survey.user %>
</p>

<p>
  <strong>Survey template:</strong>
  <%= @survey.survey_template %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
