<fieldset>
  <%= form.hidden_field :_destroy %>
  <%= link_to " ", '#', class: "remove_fields fa fa-times-circle" %>
  <%= form.label :content, "Answer" %>
  <%= form.text_field :content %>
  
  <%= form.label "Labels to Show:", :class => 'label adjusted-top' %>

  <%= form.collection_check_boxes :label_ids, Label.all, :id, :name do |b| %>
    <div class="collection-check-box">
      <%= b.label %>
      <%= b.check_box %>
    </div>
  <% end %>
</fieldset>
