<p id="notice"><%= notice %></p>
  <% if @survey_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_template.errors.count, "error") %> prohibited this survey_template from being saved:</h2>

      <ul>
      <% @survey_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag(:name, "Name:", :class => 'label') %>
    <div class="control">
      <%= form.text_field :name, id: :survey_template_name %>
    </div>
  </div>

  <div class="field">
    <div class="checkbox">
      <%= form.label :is_default, "Default Template" %>
      <%= form.check_box :is_default, id: :survey_template_is_default %>
    </div>
  </div>

  <div class="field">
    <%= form.fields_for :questions do |builder| %>
      <%= render 'question_fields', form: builder %>
    <% end %>
    <%= link_to_add_fields "Add Question", form, :questions %>
  </div>

  <div class="actions">
    <a class="button is-primary is-save">
      <%= form.submit 'Save Survey Template', :class => 'button is-transparent' %>
    </a>
  </div>
