<fieldset>
  <div class="field">
    <%= link_to " ", '#', class: "remove_fields fa fa-times-circle" %>
    <%= form.label :content, "Question", :class => 'label' %>
    <%= form.text_field :content %>
    <%= form.hidden_field :_destroy %>

  </div>
  <%= form.label :question_type_id, "How many answers can this question have?", :class => 'label' %>
  <div class="select">
    <%= form.collection_select :question_type_id, QuestionType.all, :id, :label %>
  </div>

  <%= form.label "Answers", :class => 'label' %>
  <%= form.fields_for :answers do |builder| %>
    <%= render 'answer_fields', form: builder %>
  <% end %>
  <%= link_to_add_fields "Add Answer", form, :answers %>
</fieldset>
