<p id="notice"><%= notice %></p>

<h1 class="title">
  Name:
  <%= @survey_template.name %>
  <%= link_to 'Back to All Survey Templates', admin_survey_templates_path, :class => 'button is-blue is-back is-pulled-right' %>
</h1>
<section class="question-list">
  <ol class="questions">
    <% @survey_template.questions.each do |question| %>
      <li>
        <%= question.content %>
        <ul class="answers">
          <% question.answers.each do |answer| %>
            <li><%= answer.content %></li>
            <% end %>
        </ul>
      </li>
    <% end %>
  </ol>
  <%= link_to 'Edit', edit_admin_survey_template_path(@survey_template), :class => 'button is-gray is-edit' %>
</section>
