<p id="notice"><%= notice %></p>

<h1 class="title">
  Name:
  <%= @survey_template.name %>
  <%= link_to 'Back to All Survey Templates', admin_survey_templates_path, :class => 'button is-blue is-back is-pulled-right' %>
</h1>
<section class="question-list">
  <ol class="questions">
    <% @survey_template.questions.each do |question| %>
      <li>
        <%= question.content %>
        <ul class="answers">
          <% question.answers.each do |answer| %>
            <% label_ids = [] %>
            <% AnswersLabel.where(:answer_id => answer.id).each do |label| %>
              <% label_ids.push label.label_id %>
            <% end %>
            <div>
            <li><%= answer.content %></li>
            <%= collection_check_boxes :label, :label_ids, Label.where(id: label_ids), :id, :name, { disabled: -> (name) {true} }, {class: 'collection-check-box'} do |b| %>
              <div class="collection-check-box selected">
                <%= b.label %>
                <%= b.check_box %>
              </div>
            <% end %>
           </div>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ol>
  <%= link_to 'Edit', edit_admin_survey_template_path(@survey_template), :class => 'button is-gray is-edit' %>
</section>
