<fieldset>
  <div class="field">
    <%= form.label :content, "Question", :class => 'label' %>
    <%= form.text_area :content, :class => 'textarea' %>
    <%= form.hidden_field :_destroy %>
    <%= link_to "remove", '#', class: "remove_fields" %>
  </div>
      <%= form.label :question_type_id, "Question Type", :class => 'label' %>
  <div class="select">
    <%= form.collection_select :question_type_id, QuestionType.all, :id, :name %>
  </div>

    <%= form.label "Answers", :class => 'label' %>
  <%= form.fields_for :answers do |builder| %>
    <%= render 'answer_fields', form: builder %>
  <% end %>
  <%= link_to_add_fields "Add Answer", form, :answers %>
</fieldset>
