<p id="notice"><%= notice %></p>

<h1 class="title">
  <strong>Name:</strong>
  <%= @survey_template.name %>
</h1>

<ol class="questions">
  <% @survey_template.questions.each do |question| %>
    <li>
      <%= question.content %>
      <ul class="answers">
        <% question.answers.each do |answer| %>
          <li><%= answer.content %></li>
          <% end %>
      </ul>
    </li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_survey_template_path(@survey_template), :class => 'button is-gray is-edit' %>
<%= link_to 'Back to All Surveys', survey_templates_path, :class => 'button is-blue is-back' %>
