<% if notice %><p id="notice" class="notification is-warning"><%= notice %></p><% end %>

<h1 class="title">User Management</h1>

<div class="search-container">
  <input type="text" id="userSearch" onkeyup="searchUsers()" placeholder="Search for users by name.." title="Type in a name">
</div>

<table class="table is-striped" id= "userTable">
  <thead>
    <tr>
      <th>NetID</th>
      <th>Name</th>
      <th colspan='2'>Is Admin?</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.net_id %>
        </td>
        <td>
          <%= user.first_name %> <%= user.last_name %>
        </td>
        <td>
          <% if user.is_admin %>
            <span class="fa fa-check"></span>
          <% end %>
        </td>
        <td>
          <% if user.is_admin %>
            <%= link_to 'Revoke Admin Access', admin_user_toggle_admin_path(user.id), :class => 'button is-stretch is-revoke is-red large-button' %>
          <% else %>
            <%= link_to ' Grant Admin Access ', admin_user_toggle_admin_path(user.id), :class => 'button is-stretch is-grant is-green large-button' %>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
