<footer class="footer">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column is-hidden-desktop supporting-units is-hidden-print">
        <h3>Supporting Units</h3>
        <% Admin::SupportingUnit.where("url != ''").all.each do |unit| %>
            <a href="<%= unit.url %>" target="_blank">
              <%= unit.unit %>
            </a>
        <% end %>
      </div>
      <div class="column is-6 about">
        <% @about_site = Admin::SiteInformation.where("name = 'about_site'").first %>
        <h3><%= @about_site.header %></h3>
        <%= @about_site.text.html_safe() %>
      </div>
      <div class="column is-6 contact">
        <% @contact_info = Admin::SiteInformation.where("name = 'contact_info'").first %>
        <h3><%= @contact_info.header %></h3>
        <%= @contact_info.text.html_safe() %>
      </div>


    </div>


  </div>
</footer>
