<nav class="navbar">
  <div class="print-logo">
    <%= image_tag("print-logo.jpg") %>
  </div>
  <div class="navbar-brand logo">
    <%= image_tag("emory-shield-white.png") %>
    <div class="navbar-start site-branding is-hidden-desktop">
      <div class="eu-brand">Emory University</div>
      <div class="site-information">
        <%= Admin::SiteInformation.where("name = 'branding'").first.text.html_safe() %>
      </div>
    </div>

  </div>

  <div class="navbars" id="navMenu">
    <div class="primary-navbar">
      <div class="navbar-menu">
        <div class="navbar-start site-branding is-hidden-mobile">
          <div class="eu-brand">Emory University</div>
          <div class="site-information">
            <%= Admin::SiteInformation.where("name = 'branding'").first.text.html_safe() %>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item supporting-units is-hidden-touch">
            <span class="unit-label">Supporting Units</span>
          <% Admin::SupportingUnit.where("url != ''").all.each do |unit| %>
              <a class="navbar-item" href="<%= unit.url %>" target="_blank">
                <%= unit.unit %>
              </a>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-navbar">

        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Table of Contents
          </a>
          <div class="navbar-menu is-hidden-touch">
            <div class="navbar-end">
              <div class="navbar-item">
                <%= render "layouts/search" %>
              </div>
              <%= render 'layouts/login' %>
            </div>
          </div>
        </div>
        <div class="navbar-burger burger" data-target="navMenu" id="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
    <div class="navbar-menu is-hidden-desktop is-hidden-print">
            <%= render "layouts/search" %>
            <%= render 'layouts/login' %>
    </div>
  </div>
</nav>
