<nav class="navbar">
  <div class="navbar-brand logo">
    <%= image_tag("emory-shield-white.png") %>
    <div class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbars" id="navMenu">
    <div class="primary-navbar">
      <div class="navbar-menu">
        <div class="navbar-start site-branding is-hidden-mobile">
          <div class="eu-brand">Emory University</div>
          <div class="site-information">
            <div class="site-name">Online Investigator's Guide</div>
            <div class="department">Office of Clinical Research</div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item supporting-units is-hidden-mobile">
            <a class="navbar-item disabled">Supporting Units</a>
          <% Admin::SupportingUnit.where("url != ''").all.each do |unit| %>
              <a class="navbar-item" href="<%= unit.url %>" target="_blank">
                <%= unit.unit %>
              </a>
          <% end %>
          </div>
          <div class="navbar-item has-dropdown is-hoverable supporting-units is-hidden-tablet">
            <a class="navbar-link">
              Supporting Units
            </a>
              <div class="navbar-dropdown is-boxed">
                <% Admin::SupportingUnit.where("url != ''").all.each do |unit| %>
                    <a class="navbar-item" href="<%= unit.url %>" target="_blank">
                      <%= unit.title %>
                    </a>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-navbar">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Table of Contents
          </a>
        </div>
        <div class="navbar-end">
          <% if Rails.env.local? %>
            <div class="navbar-item">
              <% if current_user %>
                <p class="control">
                  <%= link_to session_path(current_user), method: "delete", :class => 'bd-tw-button button' do %>
                    <span class="icon">
                      <i class="fa fa-unlock"></i>
                    </span>
                    <span>
                      Log Out
                    </span>
                  <% end %>
                </p>
              <% else %>
                <p class="control">
                  <%= link_to 'login', controller: 'sessions', action: 'new', :class => 'bd-tw-button button' do %>
                    <span class="icon">
                      <i class="fa fa-lock"></i>
                    </span>
                    <span>
                      Log In
                    </span>
                  <% end %>
                </p>
              <% end %>
            </div>
          <% else %>
            <div class="navbar-item">
              <% if current_user %>
                <p class="control">
                  <%= link_to shibb_logout_path, :class => 'bd-tw-button button' do %>
                    <span class="icon">
                      <i class="fa fa-unlock"></i>
                    </span>
                    <span>
                      Log Out
                    </span>
                  <% end %>
                </p>
              <% else %>
                <p class="control">
                  <%= link_to auth_scheme, :class => 'bd-tw-button button' do %>
                    <span class="icon">
                      <i class="fa fa-lock"></i>
                    </span>
                    <span>
                      Log In
                    </span>
                  <% end %>
                </p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
