<!DOCTYPE html>
<html>
  <head>
    <title>OnlineInvestigatorsGuide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="adminSite">
      <%= render 'layouts/navbar' %>
      <div class="columns is-gapless admin">
        <div class="column is-2 no-bottom-padding">
          <%= render 'layouts/adminnavbar' %>
        </div>
        <div class="column">

          <%= yield %>
        </div>
      </div>
  </body>
</html>
