<!DOCTYPE html>
<html>
  <head>
    <title><%= @branding.header %> | Admin Portal </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="adminSite">
  <%= @branding %>
    <% if @maintenance_mode.isOn %>
      <div class="admin_maintenance_notification">
        Site is in Maintenance Mode.  <%= link_to 'Turn off maintenance mode.', admin_site_information_toggle_maintenance_mode_path(@maintenance_mode.id) %>
      </div>
    <% end %>
    <% if current_user.is_admin? %>
      <%= render 'layouts/navbar'%>
      <div class="columns is-gapless is-desktop admin">
        <div class="column is-one-quarter-desktop is-hidden-touch no-bottom-padding">
          <%= render 'layouts/adminnavbar' %>
        </div>
        <div class="column is-hidden-desktop no-bottom-padding">
          <%= render 'layouts/adminnavbar' %>
        </div>
        <div class="column">
        <%= yield %>
        </div>
      </div>
    <% else %>
      <script type="text/javascript">
        window.location.href="/"
      </script>
    <% end %>
  </body>
</html>
