<!DOCTYPE html>
<html>
  <head>
    <title>OnlineInvestigatorsGuide</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900|Spectral:300" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'print', media: 'print', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <base target="_blank">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <div class="columns not-full-height">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
